# Directories
node_modules/
dist/
coverage/
build/

# Config files
.env
.gitignore
.npmignore
tsconfig.json
jest.config.js

# Documentation files
README.md
LICENSE

# Log files
*.log

# Temporary files
.tmp/
*.swp
.DS_Store
